$primary-red: #9E182B;

@font-face {
  font-family: 'Last-Christmas';
  src: url('../fonts/last_christmas/LastChristmas_PERSONAL_USE_ONLY.otf') format('opentype');
}

@font-face {
  font-family: 'Vogue';
  src: url('../fonts/vogue/Vogue.ttf') format('truetype');
}
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin btn-config{
  width: 170px;
  height: 57px;
  padding: 5px 64px 0 64px;
  font-size: 25px;
  font-family: 'Vogue', sans-serif;
  border: 3px solid $primary-red;
  border-radius: 90px;
  cursor: pointer;
}


@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}