html{
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
.container{
    display: flex;
    position: relative;
    text-align: center;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.image{
    position:absolute;
    width: 60vh;
}
.question{
    position: absolute;
    top: 40%;
}
.btn-yes, .btn-no{
    position: absolute;
    border: 0;
    top: 50%;
}

.btn-yes{
    translate: -100% 0;
    background-color: ivory;
}
.btn-no{
    translate: 100% 0;
    background-color: rgb(148, 10, 10);
    color: white;
}